.calcBackground {
    height: 620px;
    width: 1348px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(233, 255, 248);
}

.calcFrame {
    height: 520px;
    width: 448px;
    border: solid 10px;
    border-radius: 2%;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;    
    background-color: rgb(85, 85, 85);
}

.calcDisplay {
    height: 80px;
    width: 438px;
    margin: 5px 0px 5px 0px;
    display: flex;
    background-color: rgb(207, 207, 207);
    border-radius: 5px;
    align-items: center;
    justify-content: end;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.calcKeyboard {
    height: 426px;
    width: 444px;
    margin: 1px 0px 1px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(85, 85, 85);
}

.row {
    height: 420px;
    width: 440px;
    display: flex;
    padding: 0px;
    margin: 0px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.row>div:hover {
    outline: solid 1px;
    outline-color: yellow;
}

.num {
    width: 110px;
    background-color: blue;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

.operation {
    width: 110px;
    background-color: brown;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

.func {
    width: 110px;
    background-color: blueviolet;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

#zero {
    flex-grow: 2;
    padding:2px;
}

#dot {
    width: 108px;
}

#equal {
    width: 108px;
}